{% load static %}
<!-- Footer -->
 <!-- 增加<br>为增加页脚离正文的距离 -->
<div>
    <br>
</div>

<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <!-- 添加Flex容器控制左右排列 -->
        <div class="d-flex justify-content-between align-items-center">
            <!-- 左侧文本无需右间距 -->
            <span class="text-white">感谢大神Wen.W的教程 https://github.com/stacklens/django_blog_tutorial.git</span>
            <!-- 右侧版权信息自动左间距 -->
            <span class="text-white">Copyright ©YogaTom 2025</span>
        </div>
    </div>
</footer>
